<div class="admin-panel">
    <ul class="panel-menu">
        <li><a href="#info">Information</a></li>
        <li><a href="#app">Application</a></li>
    </ul>
    <div class="panel-body">
        <div class="form-column-left">
            <div class="form-input">
                <label>test</label>
                <input type="text">
            </div>
            <div class="form-input">
                <label>test</label>
                <input type="text">
            </div>
        </div>
    </div>
    <!-- <div class="panel-body">
        <p>Testing Application</p>
    </div> -->
</div>